@import "./variables.scss";

////////////////////////////////////////////////////////////////////////////////
// Global styles and Base styles
////////////////////////////////////////////////////////////////////////////////

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  font-family: $main-font;
  margin: 0;
}

h1 {
  font-weight: $font-bold;
  font-size: $font-header-xlarge;
}

h4 {
  font-weight: $font-bold;
  font-size: $font-header-small;
}

h6 {
  font-weight: $font-bold;
  font-size: $font-body-md;
}

p {
  font-weight: $font-light;
  font-size: $font-body-sm;
}
