@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$main-font: 'Poppins', sans-serif;

$font-bold: 700;
$font-medium: 500;
$font-regular: 400;
$font-light: 300;

$font-body-xs: 10px;
$font-body-sm: 12px;
$font-body-sm-md: 14px;
$font-body-md: 16px;
$font-body-lg: 18px;
$font-header-small: 22px;
$font-header-large: 28px;
$font-header-xlarge: 38px;

$orange: #ed6c02;
$red: #d32f2f;
$green: #2e7d32;
